<div class="description-container">
  <div class="description-photo-container">
    <img src="{{ section.settings.right-section-image | image_url }}">
    <div class="description-photo-content">
      <div class="description-photo-name-price">
        <div class="description-photo-name">{{ section.settings['product-name'] }}</div>
        <div class="description-photo-price">{{ section.settings['product-price'] }}</div>
      </div>
      <div class="description-photo-mini">
        <img src="{{ section.settings.mini-image | image_url }}">
      </div>
    </div>
  </div>

  <div class="description">
    {{ section.settings['description'] }}

    <div class="read-more-button">Read More</div>
  </div>
</div>

{% schema %}
{
  "name": "Right Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "right-section-image",
      "label": "Pick Image",
      "info": "Pick Image"
    },
    {
      "type": "text",
      "id": "product-name",
      "label": "Product Name",
      "default": "Product Name"
    },
    {
      "type": "text",
      "id": "product-price",
      "label": "Product Price",
      "default": "Product Price"
    },
    {
      "type": "image_picker",
      "id": "mini-image",
      "label": "Pick Image",
      "info": "Pick Image"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Description"
    }
  ],
  "presets": [
    {
      "name": "rightSection"
    }
  ]
}
{% endschema %}
